body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image: url('../assets/ImagemFundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-login {
    width: 400px;
    height: auto;
    padding: 50px 10px;
    background-color: rgba(85%, 85%, 85%, 0.75);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.logo {
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
}

#form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#email-user {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); 
}

#password-user {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

button {
    width: 80%;
    padding: 10px;
    background-color: #c62828;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}