.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-inner img{
    height: 750px;
    object-fit: cover;
}

.filmes-section {
  padding: 2rem;
}

.filmes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.filme-card {
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
}

.filme-card:hover {
  transform: scale(1.05);
}

.filme-thumb {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.card-img-top {
    width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-gradient {
  background: linear-gradient(to right, #8B0000, #FF0000);
}

.genero-filmes {
  margin: 30px;
}

.col {
  transition: transform 0.3s;
}

.col:hover {
  transform: scale(1.05);
}

.genero-filmes img {
  border-radius: 10px;
}

.genero-filmes {
  background: linear-gradient(to right, #8B0000, #FF0000);
  background-size: cover;        
  background-position: center; 
  background-repeat: no-repeat;  
  padding: 40px 20px;            
  margin: 0px;
  color: white;        
}